<%- include('header') -%>

<div id="addTodo">
  <form method="POST" action="/todo/addTodo">
    <input type="text" id="desc" name="desc" placeholder="Description...">
    <input type="submit" value="Add" class="addBtn">
    <!--<span onclick="addTodo()" class="addBtn">Add</span>-->
  </form>
</div>

<div id="divTodo">
    <ul id="listTodo">
    </ul>
</div>

<!-- References to external JS files -->
<script src="/static/js/todo.js"></script>

<%- include('footer') -%>
